# Node.js specific #
####################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# OS specific #
#######################
.DS_Store
Thumbs.db

# Editor-specific files #
#########################
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.iml

# TS-specific files #
#########################
*.tsbuildinfo
**/dist

# Yarn files #
#########################
.pnp.*
**/.yarn/*
.yarn-integrity

# Configuration files #
#########################
.env

# Other #
#########################
tmp/
